@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
 
.quicksand-fonts {
   font-family: "Quicksand", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }
 .logo{
    display: flex;
    gap: 20px;
 }
 .logo-images{
    margin-left: 50px;
 }
  .yellow{
   color: rgba(254, 163, 1, 1);
   font-weight: bold;
  }
  .green{
    color: rgba(5, 212, 223, 1);
  }
  .blue{
    color: rgba(1, 172, 253, 1);
  }
  .red{
    color: rgba(93, 88, 239, 1);
  }
 li a{
   text-decoration: none;
    
 }
 .btn{
  height: 50px;
  width: 197px;
  background-color: rgba(254, 163, 1, 1);
  color: white;
  border: none;
  border-radius: 5px;
  gap: 186px;
 }
 .nav-links{
    
   list-style: none;
   display: flex;
   gap: 30px;
    
   
 }

 .header{
   display: flex;
   justify-content: space-around;
   text-align: center;
   align-items: center;
   margin-bottom: 20px;
 }
 .hero{
  display: flex;
   
 }
 .hero-text{
  height: 330px;
  width: 640px;
  margin-left: 130px;
  margin-top: 20px;
 }
 .empower{
  color: rgba(254, 163, 1, 1);
 }
 .kid{
  margin-right: 70px;
 }
 .headline{
  font-weight: bold;
 }
 .highlight{
  color: rgba(1, 172, 253, 1);
 }
 .enroll-btn{
  color: rgba(255, 255, 255, 1);
  background-color: black;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 197px;
 }
 .Curriculum{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  position:absolute;
  height: 100%;
  width: 100%;
   max-width: 80%;
 }
 .background-img{
  margin: 0 auto;
  max-width: 80%;
  position:absolute;

 }
 .curriculum-cards{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 70px;
  gap: 50px;
  
  
   
 }
 .main{
  margin-top: 10px;
  height: ;
  width: 1000px;
   max-width: 100%;
  
  
 }
 .card-kinder{
   margin-top: 225px;
  box-shadow: 20px;
  height: 350px;
  width: 240px;
  padding: 20px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  border-radius: 8px;
  background: #e5f7ff;

 }
 .kinder{
  margin-bottom: 40px;
  align-items: center;
  text-align: center;
 }
 .card-elementar{
  margin-top: 230px;
  margin-top: 225px;
  box-shadow: 20px;
  height: 350px;
  width: 240px;
  padding: 20px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  border-radius: 8px;
  background: #e5f7ff;
 }
 .card-middle{
  margin-top: 230px;
  margin-top: 225px;
  box-shadow: 20px;
  height: 350px;
  width: 240px;
  padding: 20px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  border-radius: 8px;
  background: #e5f7ff;
 }
 .Curriculum-01{
   text-align: center;
   margin-top: 60px;
   position: absolute;
   
   margin-left: 500px;
 }
 .Read-btn{
  color: rgba(100, 200, 255, 1);
  text-decoration: none;
  font-weight: bold;
 }
 .more-read{
  color: rgba(240, 170, 0, 1);
  text-decoration: none;
  font-weight: bold;
 }
 .more-btn{
  color: rgba(135, 0, 255, 1);
  text-decoration: none;
  font-weight: bold;
 }
